body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5d4d4;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f2e2e;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363d3d;
}


.detailed-forecast-scrolable-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  overflow: auto;
  margin: 0.5rem;
  max-width: 70rem;
}

.detailed-forecast-row{

}

.detailed-forecast-container {
  margin: auto;
  width: fit-content;
}

.custom-link-button {
  text-decoration: none;
  color: white;
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 20px;
}
